$yellow-primary: #ffc803;
$yellow-secondary: #ffce3d;
$darker-yellow: #d5ad42;
$light-grey-primary: #f7f7f7;
$grey-secondary: #ededed;
$white-primary: #ffffff;
$side-nav-menu-item-color: #000000a3;
$side-nav-menu-active-item-border-color: #000000c4;
$on-hover-background-color: #f9edc2;
